#u105-4
{
	font-family: open-sans-n4, sans-serif;
}

#u91-4
{
	font-family: open-sans-n4, sans-serif;
}

#u74-4
{
	font-family: open-sans-n4, sans-serif;
}

#u114-4
{
	font-family: open-sans-n4, sans-serif;
}

#u177-8,#u178-4
{
	font-family: open-sans-n4, sans-serif;
}

#u70-4,#u145-4,#u146-4,#u189-4,#u190-4
{
	font-family: open-sans-n7, sans-serif;
}

#u191-10,#u192-4
{
	font-family: open-sans-n4, sans-serif;
}

#u277-4,#u283-4,#u290-4,#u294-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u201-4,#u213-4,#u205-4,#u217-4,#u209-4,#u221-4,#u202-4,#u206-4,#u210-4,#u214-4,#u218-4,#u222-4,#u237-4,#u240-4,#u244-4,#u248-4,#u242-4,#u246-4,#u250-4,#u238-4,#u241-4,#u245-4,#u249-4,#u272-4,#u284-4,#u291-4,#u293-4,#u320-4,#u321-4,#u322-4,#u323-4,#u326-4,#u327-4,#u345-4,#u330-4,#u333-4,#u334-4,#u337-4,#u338-4,#u341-4,#u342-4,#u765-4,#u767-4,#u769-4,#u771-4,#u773-4,#u775-4,#u766-4,#u768-4,#u770-4,#u772-4,#u774-4,#u776-4,#u789-4,#u790-4,#u801-4
{
	font-family: open-sans-n4, sans-serif;
}

#u804-4
{
	font-family: open-sans-n4, sans-serif;
}

#u807-4
{
	font-family: open-sans-n4, sans-serif;
}

#u808-4
{
	font-family: open-sans-n4, sans-serif;
}

#u795-4
{
	font-family: open-sans-n4, sans-serif;
}

#u796-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu800_input,#widgetu800_prompt,#widgetu805_input,#widgetu805_prompt,#widgetu794_input,#widgetu794_prompt
{
	font-family: open-sans, sans-serif;
}

#u820-4,#u821-4,#u822-4,#u817-6,#u823-4,#u818-6,#u824-4,#u819-6,#u829-7
{
	font-family: open-sans-n4, sans-serif;
}

